<!-- ko if: ($data.dataCurrency)-->
<square-placement
    data-bind="attr: {
            'id': id,
            'data-show-lower-limit': dataShowLowerLimit,
            'data-currency': dataCurrency,
            'data-locale': dataLocale,
            'data-is-eligible': dataIsEligible,
            'data-amount': dataAmount,
            'data-mpid':dataMPID,
            'data-cbt-enabled': dataCbtEnabledString,
            'data-platform': dataPlatform,
            'data-page-type': pageType
        },
        afterRender: onRendered,
        visible: isVisible
"
></square-placement>
<!-- /ko -->
