<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <afterpay>
                <active>0</active>
                <title>Afterpay</title>
                <api_mode>sandbox</api_mode>
                <model>Afterpay\Afterpay\Model\Method\MethodFacade</model>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <can_capture>1</can_capture>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <payment_action>authorize_capture</payment_action>
                <paymentInfoKeys>afterpay_token,afterpay_order_id,afterpay_payment_state,afterpay_open_to_capture_amount,afterpay_rollover_discount,afterpay_captured_discount,afterpay_auth_expiry_date</paymentInfoKeys>
                <merchant_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowed_merchant_countries>AU,NZ,US,CA</allowed_merchant_countries>
                <allowed_merchant_currencies>AUD,NZD,USD,CAD</allowed_merchant_currencies>
                <allowspecific>1</allowspecific>
                <payment_flow>immediate</payment_flow>
                <debugReplaceKeys>shipping,billing,consumer</debugReplaceKeys>
                <expresscheckout>
                    <allowed_merchant_countries>AU,NZ,US,CA</allowed_merchant_countries>
                </expresscheckout>
                <add_last_selected_ship_rate>1</add_last_selected_ship_rate>
                <enable_product_page_headless>0</enable_product_page_headless>
                <pdp_placement_after_selector>.product-info-main .product-info-price</pdp_placement_after_selector>
                <pdp_placement_price_selector>.product-info-main .price-final_price .price-wrapper .price</pdp_placement_price_selector>
                <pdp_placement_after_selector_bundle>#bundleSummary .price-configured_price</pdp_placement_after_selector_bundle>
                <pdp_placement_price_selector_bundle>#bundleSummary .price-as-configured .price</pdp_placement_price_selector_bundle>
                <enable_mini_cart_headless>0</enable_mini_cart_headless>
                <mini_cart_placement_container_selector>#minicart-content-wrapper</mini_cart_placement_container_selector>
                <mini_cart_placement_after_selector>#minicart-content-wrapper .subtotal</mini_cart_placement_after_selector>
                <mini_cart_placement_price_selector>#minicart-content-wrapper .subtotal .price</mini_cart_placement_price_selector>
                <enable_cart_page_headless>0</enable_cart_page_headless>
                <cart_page_placement_after_selector>.cart-container .cart-summary #cart-totals</cart_page_placement_after_selector>
                <cart_page_placement_price_selector>#cart-totals .grand.totals .price</cart_page_placement_price_selector>
            </afterpay>
        </payment>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
    </default>
</config>
