<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <afterpay>
                <active>0</active>
                <title>Afterpay</title>
                <api_mode>sandbox</api_mode>
                <model>Afterpay\Afterpay\Model\Method\MethodFacade</model>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <can_capture>1</can_capture>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <payment_action>authorize_capture</payment_action>
                <paymentInfoKeys>afterpay_token,afterpay_order_id,afterpay_payment_state,afterpay_open_to_capture_amount,afterpay_rollover_discount,afterpay_captured_discount,afterpay_auth_expiry_date</paymentInfoKeys>
                <merchant_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowed_merchant_countries>AU,NZ,US,CA</allowed_merchant_countries>
                <allowspecific>1</allowspecific>
                <payment_flow>immediate</payment_flow>
                <debugReplaceKeys>shipping,billing,consumer</debugReplaceKeys>
            </afterpay>
        </payment>
    </default>
</config>
