<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_shipment_save_before">
        <observer name="afterpay_before_shipment" instance="Afterpay\Afterpay\Observer\BeforeShipment" />
    </event>
</config>