<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Afterpay\Afterpay\Model\Payment\Capture\PlaceOrderProcessor">
        <arguments>
            <argument name="logger" xsi:type="object">Afterpay\Afterpay\Logger</argument>
        </arguments>
    </type>
    <type name="Afterpay\Afterpay\Controller\Express\PlaceOrder">
        <arguments>
            <argument name="syncCheckoutDataCommand" xsi:type="object">Afterpay\Afterpay\Gateway\Command\SyncCheckoutDataCommand</argument>
        </arguments>
    </type>
    <type name="Afterpay\Afterpay\Controller\Payment\Capture">
        <arguments>
            <argument name="validateCheckoutDataCommand" xsi:type="object">Afterpay\Afterpay\Gateway\Command\ValidateCheckoutDataCommand</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="afterpay_sidebar_update" type="Afterpay\Afterpay\Plugin\Checkout\Block\Cart\Sidebar"/>
    </type>

    <virtualType name="Afterpay\Afterpay\ViewModel\Container\ExpressCheckout\PDPLib" type="Afterpay\Afterpay\ViewModel\Container\Lib">
        <arguments>
            <argument name="libUrlProvider" xsi:type="object">Afterpay\Afterpay\Model\Url\Lib\ExpressCheckoutLibUrlProvider</argument>
            <argument name="containerConfigPath" xsi:type="const">Afterpay\Afterpay\Model\Config::XML_PATH_ENABLE_EXPRESS_CHECKOUT_ACTION_PRODUCT</argument>
        </arguments>
    </virtualType>
    <virtualType name="Afterpay\Afterpay\ViewModel\Container\ExpressCheckout\CartLib" type="Afterpay\Afterpay\ViewModel\Container\Lib">
        <arguments>
            <argument name="libUrlProvider" xsi:type="object">Afterpay\Afterpay\Model\Url\Lib\ExpressCheckoutLibUrlProvider</argument>
            <argument name="containerConfigPath" xsi:type="const">Afterpay\Afterpay\Model\Config::XML_PATH_ENABLE_EXPRESS_CHECKOUT_ACTION_CART_PAGE</argument>
        </arguments>
    </virtualType>
    <virtualType name="Afterpay\Afterpay\ViewModel\Container\ExpressCheckout\MiniCartLib" type="Afterpay\Afterpay\ViewModel\Container\Lib">
        <arguments>
            <argument name="libUrlProvider" xsi:type="object">Afterpay\Afterpay\Model\Url\Lib\ExpressCheckoutLibUrlProvider</argument>
            <argument name="containerConfigPath" xsi:type="const">Afterpay\Afterpay\Model\Config::XML_PATH_ENABLE_EXPRESS_CHECKOUT_ACTION_MINI_CART</argument>
        </arguments>
    </virtualType>

    <virtualType name="Afterpay\Afterpay\ViewModel\Container\Cta\PDPLib" type="Afterpay\Afterpay\ViewModel\Container\Cta\Lib">
        <arguments>
            <argument name="libUrlProvider" xsi:type="object">Afterpay\Afterpay\Model\Url\Lib\CtaLibUrlProvider</argument>
            <argument name="containerConfigPath" xsi:type="const">Afterpay\Afterpay\Model\Config::XML_PATH_ENABLE_CTA_PRODUCT</argument>
        </arguments>
    </virtualType>
    <virtualType name="Afterpay\Afterpay\ViewModel\Container\Cta\CartLib" type="Afterpay\Afterpay\ViewModel\Container\Cta\Lib">
        <arguments>
            <argument name="libUrlProvider" xsi:type="object">Afterpay\Afterpay\Model\Url\Lib\CtaLibUrlProvider</argument>
            <argument name="containerConfigPath" xsi:type="const">Afterpay\Afterpay\Model\Config::XML_PATH_ENABLE_CTA_CART_PAGE</argument>
        </arguments>
    </virtualType>
    <virtualType name="Afterpay\Afterpay\ViewModel\Container\Cta\MiniCartLib" type="Afterpay\Afterpay\ViewModel\Container\Cta\Lib">
        <arguments>
            <argument name="libUrlProvider" xsi:type="object">Afterpay\Afterpay\Model\Url\Lib\CtaLibUrlProvider</argument>
            <argument name="containerConfigPath" xsi:type="const">Afterpay\Afterpay\Model\Config::XML_PATH_ENABLE_CTA_MINI_CART</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="afterpay_item_additional_attributes" type="Afterpay\Afterpay\Plugin\Checkout\CustomerData\Cart" />
    </type>
</config>
