<?xml version="1.0"?>
<!--
/**
 * Magento 2 extensions for Afterpay Payment
 *
 * @author Afterpay
 * @copyright 2016-2020 Afterpay https://www.afterpay.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="afterpay" xsi:type="object">Afterpay\Afterpay\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="afterpay_additional_attributes" type="Afterpay\Afterpay\Plugin\Checkout\CustomerData\Cart" />
    </type>
</config>
