<!--
/**
 * Magento 2 extensions for Afterpay Payment
 *
 * @author Afterpay
 * @copyright 2016-2021 Afterpay https://www.afterpay.com
 */
-->
<div class="payment-method" id="afterpaypayovertime-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <!-- Afterpay Logo -->
            <img src="https://static.afterpay.com/integration/logo-afterpay-colour-221x46.png" srcset="https://static.afterpay.com/integration/logo-afterpay-colour-221x46.png 1x,https://static.afterpay.com/integration/logo-afterpay-colour-221x46@2x.png 2x,https://static.afterpay.com/integration/logo-afterpay-colour-221x46@3x.png 3x" class="payment-icon" alt="Afterpay" height="40"/>
            <!-- Afterpay Logo -->
        </label>
    </div>
    <div class="payment-method-content" id="afterpaypayovertime">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
		<div class="checkout-agreements-block">
			<!-- ko foreach: $parent.getRegion('before-place-order') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		<div>
        <div class="payment-method-note afterpay-checkout-note">
            <div style="">

                <h3>
                    <strong><span class="afterpay_checkout_text" data-bind="text: getCheckoutText()"></span></strong>
                    <strong><span class="afterpay_total_amount" data-bind="text: getGrandTotal()"></span></strong>
                </h3>
                <ul class="cost">
                    <li><span class="afterpay_instalments_amount"></span></li>
                    <li><span class="afterpay_instalments_amount"></span></li>
                    <li><span class="afterpay_instalments_amount"></span></li>
                    <li><span class="afterpay_instalments_amount_last"></span></li>
                </ul>
                <ul class="icon">
                    <li>
                        <span class="afterpay_checkout_steps afterpay_checkout_steps_1"></span>
                    </li>
                    <li>
                        <span class="afterpay_checkout_steps afterpay_checkout_steps_2"></span>
                    </li>
                    <li>
                        <span class="afterpay_checkout_steps afterpay_checkout_steps_3"></span>
                    </li>
                    <li>
                        <span class="afterpay_checkout_steps afterpay_checkout_steps_4"></span>
                    </li>
                </ul>
                <ul class="instalment">
                    <li data-bind="text: getFirstInstalmentText()"></li>
                    <li><!-- ko i18n: '2 weeks later' --><!-- /ko --></li>
                    <li><!-- ko i18n: '4 weeks later' --><!-- /ko --></li>
                    <li><!-- ko i18n: '6 weeks later' --><!-- /ko --></li>
                </ul>
            </div>
        </div>
        <div class="payment-method-content afterpay-checkout-redirect">
            <div class="instalment-footer">
				<span data-bind="text: getTermsText()"></span>
                <a data-bind="attr:{href: getTermsLink()}" target="_blank" style="display:inline;"><!-- ko i18n: 'Terms & Conditions' --><!-- /ko --></a>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action primary checkout"
                            type="submit"
                            data-bind="click: continueAfterpayPayment, enable: (getCode() == isChecked())"
                            disabled>
                        <span data-bind="i18n: 'Continue to Afterpay'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both">&nbsp;</div>
</div>