<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Afterpay\Afterpay\Block\Payment\Info">
        <arguments>
            <argument name="config" xsi:type="object">Afterpay\Afterpay\Gateway\Config\Config</argument>
        </arguments>
    </type>
    <type name="Afterpay\Afterpay\Block\Adminhtml\System\Config\Fieldset\Payment">
        <arguments>
            <argument name="afterpay" xsi:type="object">Afterpay\Afterpay\Model\Method\MethodFacade</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Items">
        <plugin name="afterpay_remove_offline_refund_button" type="Afterpay\Afterpay\Plugin\Block\Adminhtml\Order\Creditmemo\Create\Items" />
    </type>
    <type name="Magento\CustomerBalance\Block\Adminhtml\Sales\Order\Creditmemo\Controls">
        <plugin name="afterpay_remove_customer_balance_from_creditmemo" type="Afterpay\Afterpay\Plugin\Block\Adminhtml\CustomerBalance\Order\Creditmemo\Controls" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="afterpay_remove_creditmemo_button_from_order_view" type="Afterpay\Afterpay\Plugin\Block\Adminhtml\Order\View" />
    </type>
</config>
