<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="afterpay" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Afterpay</label>
                <frontend_model>Afterpay\Afterpay\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <group id="basic" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Basic Settings</label>
                    <field id="module_version" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Module Version</label>
                        <frontend_model>Afterpay\Afterpay\Block\Adminhtml\System\Config\Form\Field\Version</frontend_model>
                    </field>
                    <field id="active" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpay/active</config_path>
                    </field>
                    <field id="api_mode" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Mode</label>
                        <source_model>Afterpay\Afterpay\Model\Config\Source\ApiMode</source_model>
                        <config_path>payment/afterpay/api_mode</config_path>
                    </field>
                    <field id="merchant_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Merchant ID</label>
                        <config_path>payment/afterpay/merchant_id</config_path>
                    </field>
                    <field id="merchant_key" translate="label" type="obscure" sortOrder="50" showInDefault="50" showInWebsite="1" showInStore="0">
                        <label>Merchant Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/afterpay/merchant_key</config_path>
                    </field>
                </group>
                <group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced Settings</label>
                    <field id="min_order_total" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Minimum Order Total</label>
                        <frontend_model>Afterpay\Afterpay\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                        <config_path>payment/afterpay/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" >
                        <label>Maximum Order Total</label>
                        <frontend_model>Afterpay\Afterpay\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                        <config_path>payment/afterpay/max_order_total</config_path>
                    </field>
                    <field id="update_order_limits" translate="button_label comment"  sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label/>
                        <button_label>Update Merchant Configuration</button_label>
                        <button_url>
                            <![CDATA[afterpay/merchantconfiguration/update]]>
                        </button_url>
                        <frontend_model>Afterpay\Afterpay\Block\Adminhtml\System\Config\Button\LimitUpdate</frontend_model>
                        <comment>Update limit configuration and specific countries from Afterpay API.</comment>
                    </field>
                    <field id="debug" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpay/debug</config_path>
                    </field>
                    <field id="enable_cta_product_page" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Display on Product Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpay/enable_cta_product_page</config_path>
                    </field>
                    <field id="enable_cta_cart_page" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Display on Cart Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpay/enable_cta_cart_page</config_path>
                    </field>
                    <field id="enable_cta_mini_cart" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Display on Mini Cart</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpay/enable_cta_mini_cart</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <config_path>payment/afterpay/sort_order</config_path>
                    </field>
                    <field id="exclude_categories" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Exclude Categories</label>
                        <source_model>Afterpay\Afterpay\Model\Config\Source\Category</source_model>
                        <config_path>payment/afterpay/exclude_categories</config_path>
                        <can_be_empty>1</can_be_empty>
                        <comment>Please select the "direct category" of the product instead of the parent category.</comment>
                    </field>
                    <field id="payment_flow" translate="label comment" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Flow</label>
                        <source_model>Afterpay\Afterpay\Model\Config\Source\PaymentFlow</source_model>
                        <config_path>payment/afterpay/payment_flow</config_path>
                        <comment><![CDATA[Find out more about the payment flows <a href="https://afterpay-online.readme.io/v2/reference#payment-flows" target="_blank">here</a>]]></comment>
                    </field>
                </group>
                <group id="expresscheckout" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Express Checkout Settings</label>
                    <field id="enable_express_checkout_page" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Display on Product Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpay/enable_express_checkout_product_page</config_path>
                    </field>
                    <field id="enable_express_checkout_cart_page" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Display on Cart Page</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpay/enable_express_checkout_cart_page</config_path>
                    </field>
                    <field id="enable_express_checkout_mini_cart" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Display on Mini Cart</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpay/enable_express_checkout_mini_cart</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
