<?xml version="1.0"?>
<!--
/**
 * Magento 2 extensions for Afterpay Payment
 *
 * @author Afterpay <steven.gunarso@touchcorp.com>
 * @copyright 2016 Afterpay https://www.afterpay.com.au/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="afterpaypayovertime" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Afterpay</label>
                <comment><![CDATA[<span class="logo">&nbsp;</span><strong>Pay Overtime</strong><p>Offer interest-free instalment plans at checkout with zero risk. <a href="https://www.afterpay.com.au/for-merchants/" target="_blank">Register here</a></p>]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex afterpaypayovertime-section</fieldset_css>
                <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                <group id="afterpaypayovertime_basic" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Basic Settings]]></label>

                    
                    <field id="plugin_version" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Afterpay Plugin Version</label>
                        <frontend_model>Afterpay\Afterpay\Block\Adminhtml\System\Config\Form\Field\Label</frontend_model>
                    </field>
                    

                    <!-- active -->
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpaypayovertime/active</config_path>
                    </field>

                    <!-- title -->
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/afterpaypayovertime/title</config_path>
                    </field>

                    <!-- api mode -->
                    <field id="api_mode" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Mode</label>
                        <source_model>Afterpay\Afterpay\Model\Source\ApiMode</source_model>
                        <config_path>payment/afterpaypayovertime/api_mode</config_path>
                    </field>

                    <!-- merchant id -->
                    <field id="merchant_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Merchant ID</label>
                        <config_path>payment/afterpaypayovertime/merchant_id</config_path>
                    </field>

                    <!-- merchant key -->
                    <field id="merchant_key" translate="label" type="obscure" sortOrder="50" showInDefault="50" showInWebsite="1" showInStore="0">
                        <label>Merchant Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/afterpaypayovertime/merchant_key</config_path>
                    </field>

                    <!-- payment action -->
                    <field id="payment_action" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>Afterpay\Afterpay\Model\Source\PaymentAction</source_model>
                        <config_path>payment/afterpaypayovertime/payment_action</config_path>
                    </field>
                </group>

                <group id="afterpaypayovertime_advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Advanced Settings]]></label>

                    <!-- checkout mode -->
                    <field id="payment_display" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Display</label>
                        <source_model>Afterpay\Afterpay\Model\Source\PaymentDisplay</source_model>
                        <config_path>payment/afterpaypayovertime/payment_display</config_path>
                    </field>

                    <!-- minimum order total -->
                    <field id="min_order_total" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Minimum Order Total</label>
                        <frontend_model>Afterpay\Afterpay\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                        <config_path>payment/afterpaypayovertime/min_order_total</config_path>
                    </field>

                    <!-- maximum order total -->
                    <field id="max_order_total" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Maximum Order Total</label>
                        <frontend_model>Afterpay\Afterpay\Block\Adminhtml\System\Config\Form\Field\Disable</frontend_model>
                        <config_path>payment/afterpaypayovertime/max_order_total</config_path>
                    </field>

                    <field id="update_order_limits" translate="button_label"  sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label/>
                        <button_label><![CDATA[Update Limits]]></button_label>
                        <button_url>
                            <![CDATA[admin/afterpay/updateLimit]]>
                        </button_url>
                        <frontend_model>Afterpay\Afterpay\Block\Adminhtml\System\Config\Button\Update</frontend_model>
                        <comment><![CDATA[Check limit configuration from Afterpay API.]]></comment>
                    </field>

                    <!-- Debug mode -->
                    <field id="debug" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/afterpaypayovertime/debug</config_path>
                    </field>

                    <!-- sort order -->
                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <config_path>payment/afterpaypayovertime/sort_order</config_path>
                    </field>
                </group>

                <group id="afterpaypayovertime_countryspecific" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Country Specific Settings]]></label>
                    <!-- country enable -->
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/afterpaypayovertime/allowspecific</config_path>
                    </field>

                    <!-- specific country -->
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/afterpaypayovertime/specificcountry</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>